@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Fraunces', serif;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
